<div class="container">
 
    @if(ViewBag.error != null)
    {
        <p>@ViewBag.error</p>
    }
    else
    {
        <p>Saldo cuenta 123: @ViewBag.cta</p>
        <p>Saldo cuenta 456: @ViewBag.cta2</p>
    }
</div>